{% extends 'base.twig' %}
{% block body %}
    <div class="inner-container text-center">
        <div class="form-wrapper">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="form-group mb-3">
                    <label for="inputUsername" class="mb-2">username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                           class="form-control" placeholder="enter your username" required autofocus>
                </div>
                <div class="form-group mb-3">
                    <label for="inputPassword" class="mb-2">password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="enter your password" required>
                </div>
                <div class="checkbox mt-3 mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> remember me
                    </label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="w-100 btn btn-lg btn-dark" type="submit">log in</button>
                <p class="mt-3">
                    <a href="{{ path('request_password_reset') }}" style="color: #303030;"><b>forgot your password?</b></a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
