{% extends 'base.twig' %}

{% block body %}
    {% if extraData is not empty %}
        {% include 'include/leader.html.twig' %}
        {% include 'include/filters_link.html.twig' %}
    {% endif %}
    <div class="row">
        <div class="col-8">
            {% for story in stories %}
                <story-list-item :story="{{ story|json_encode }}" :app-user="{{ app.user|json_encode }}">
                </story-list-item>
            {% endfor %}
        </div>
        {% if app.user and app.request.attributes.get('_route') == 'index' %}
            <div class="col-4">
                {% include 'include/filters_link.html.twig' %}
            </div>
        {% endif %}
    </div>
    {% if pager.haveToPaginate %}
        {% include 'include/pager.html.twig' %}
    {% endif %}
{% endblock %}
