<div class="float-end pt-2 pe-2">
    <a class="text-decoration-none" href="{{ path('user_filter_tags', { 'username': app.user.userIdentifier }) }}">
        <img class="pe-1" src="{{ asset('build/images/filter.png') }}" alt="" style="height: 1rem; width: auto;" />Filter
    </a>
</div>
