<footer class="text-white" style="display: flex; align-items: center; justify-content: center;">
    <a class="attribution" href="https://www.flaticon.com/free-icons/home-button" title="home button icons">
        Home button icons created by bqlqn - Flaticon
    </a>
</footer>
