<footer class="text-white" style="display: flex; align-items: center; justify-content: center;">
    <ul style="list-style: none;">
        <li>
            <a class="attribution" href="https://www.flaticon.com/free-icons/home-button" title="home button icons">
                Home button icons created by bqlqn - Flaticon
            </a>
        </li>
        <li class="attribution" href="https://www.flaticon.com/free-icons/filter" title="filter icons">
            Filter icons created by Artem Buz - Flaticon
        </li>
    </ul>
</footer>
